/*
>>>> Limpar Formatações<<<<
*/
*{
    margin: 0;
    padding: 0;
}

/*
>>>> FORMATAÇÕES GENÉRICAS <<<<
*/
body{
    font: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #c4c4c4;
}

h1{
    color: #252525;
}

h2{
    color: #0066cc;
}

h3{
    color: #565656;
    background: #cccccc;
    padding: 5px;
}

/*
>>>> HEADER <<<<
*/
#header{
    background-color: #0066cc;
    padding: 15px;
    text-align: center;
}

#logo, #menu{
    padding: 10px;
}

#header a:link, #header a:visited{
    color: #ffffff;
    padding: 8px 12px;
}

#header a:hover{
    color: #0066cc;
    background-color: #ffffff;
    text-decoration: none;
}

.white{
    color: #ffffff;
}

/*
>>>> CONTEÚDO <<<<
*/
#content{
    width: 920px;
    margin: 0 auto;
    padding: 15px;
}

#posts{
    width: 600px;
    float: left;
}

.post{
    padding: 20px;
    width: 620px;
    margin-bottom: 20px;
    background-color: #ffffff;
    text-align: justify;
}

.data-post{
    font-size: 13px;
    border-bottom: 1px solid #0066cc;
    padding: 10px;
    margin-bottom: 10px;
    display: block;
}

.img-post{
    width: 620px;
}

/*
>>>> RIGHT SIDE <<<<
*/
#right-side{
    width: 240px;
    float: right;
}

.content-right{
    background: #ffffff;
    padding: 10px;
    margin-bottom: 20px;
}

.post-right{
    font-size: 13px;
    padding: 5px;
    border-bottom: 1px dotted #cccccc;
}

/*
>>>> FORMARAÇÃO DOS LINKS<<<<
*/
a{
    text-decoration: none;
}
a:link, a:visited{
    color: #0066cc;
}
a:hover{
    text-decoration: underline;
}

/*
>>>> FOOTER <<<<
*/
#footer{
    clear:both;
    text-align: center;
    padding: 15px;
    background: #ffffff;
    color: #0066cc;
}